# Recon_ecosystem/.env.example
# این فایل مشترک بین watchtower-api و recon-tools است (docker compose هر دو را از اینجا می‌خواند)

MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/watchtower?retryWrites=true&w=majority

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
HTTPS_PROXY=

CENSYS_API_ID=
CENSYS_API_SECRET=
SHODAN_API_KEY=
CHAOS_API_KEY=