# ==========================================
# سیستم‌عامل و فایل‌های عمومی
# ==========================================
.DS_Store
Thumbs.db
*.log

# ==========================================
# بخش اول: واچ‌تاور (Python Backend)
# ==========================================
**/__pycache__/
*.pyc
*.pyo
*.pyd
watchtower/.env

# فایل‌های سنگینِ دیتابیس داکر لوکال (نباید روی گیت بروند)
watchtower/database/db_data/

# ==========================================
# بخش دوم: فرانت‌اند (React / Vite)
# ==========================================
**/node_modules/
watchtower-frontend/dist/
watchtower-frontend/build/
watchtower-frontend/.env*
.pnpm-debug.log*

# ==========================================
# بخش سوم: ایکس‌اس‌اس‌نایپر (Go Scanner)
# ==========================================
# باینری‌های بیلد شده (نام پوشه یا نام ابزار)
xsscanner/xsscanner
xsscanner/xssniper
*.exe
*.bin
*.test
*.prof
# Python Virtual Environment
watchtower/venv/
.venv/
__pycache__/
*.pyc
.devcontainer/venv/
# Go Compiled Binaries (xsscanner)
xsscanner/nice_katana
xsscanner/nice_params
xsscanner/nice_passive
xsscanner/x9
xsscanner/dom_sink_checker
xsscanner/xssniper
xsscanner/xsscanner
xsscanner/.env
# Database temporary files
watchtower/database/db_data/


#results
xsscanner/all_scanned_targets.txt
xsscanner/output/
xsscanner/results/

#programs
*.json